/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@600&display=swap');

/* Font  */
.text-l {
  font-family: 'Fredoka';
  font-size: 5rem;
}
.text-m {
  font-family: 'Fredoka';
  font-size: 2rem;
}
.text-right {
  text-align: end;
}
.list-none {
  list-style: none;
}

/* Spacing */
.top-s {
  margin-top: 1rem;
}
.top-l {
  margin-top: 8rem;
}

/* Flex */
.flex-col {
  display: flex;
  flex-direction: column;
}

/* Form */
.width {
  width: 80%;
}
.display-none {
  display: none;
}
.newListForm {
  align-items: center;
  border-radius: 50%;
  background-color: #af2fcc;
  height: 300px;
  width: 300px;
}

/* List card */
.card-width {
  width: 300px
}

/* Temp */
.blue {
  background-color: blue;
}